body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  min-height: 100vh;
  background-color: #eee;
}

h1,
h2,
h3,
p {
  color: #222831;
}

h3 {
  color: rgb(196, 105, 21);
}
