.container {
  display: flex;
  align-items: center;
  background-color: white;
  height: 100px;
  transition: transform 0.3s;
}

.container:hover {
  transform: scale(1.025);
}

.image {
  border-radius: 50%;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text_container {
  flex-grow: 1;
  flex-basis: 100px;
  overflow: hidden;
  padding-left: 5rem;
}

.title {
  margin: 0;
}

.description {
  margin: 0;
}
